/************
 * Calendar *
 ***********/
calendar {
	padding: 1px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #fff; 
}

calendar:disabled {
	color: #ddd; 
}

calendar:selected {
	border-radius: 0px; 
}

calendar.header {
	border: none;
	background-color: @tooltip_bg_color;
	border-radius: 0; 
}

calendar:indeterminate {
	color: alpha(currentColor, 0.4); 
}

calendar.highlight {
	background-color: alpha(@theme_selected_bg_color, 0.1);
	color: #fff;
	font-weight: 100; 
}
