/*************************
 * Check and Radio items *
 *************************/

check,
radio {
    color: alpha(currentColor, 0.75);
    background-color: @base_color;
    margin-right: 5px;
}
check:hover,
check:active,
radio:hover,
radio:active {
    color: currentColor;
    background-color: shade(@theme_selected_bg_color, 0.3);
}
check:checked,
check:checked:disabled,
radio:checked,
radio:checked:disabled {
    background-color: shade(@theme_selected_bg_color, 0.7);
}
check:checked,
check:indeterminate,
radio:checked,
radio:indeterminate {
    color: #448AFF;
}
check:checked:disabled,
check:indeterminate:disabled,
radio:checked:disabled,
radio:indeterminate:disabled {
    color: rgba(68, 138, 255, 0.4);
}
check:only-child,
radio:only-child {} menu menuitem check,
menu menuitem radio {
    transition: none;
}
menu menuitem check:not(:checked):not(:indeterminate):hover,
menu menuitem radio:not(:checked):not(:indeterminate):hover {
    color: alpha(currentColor, 0.75);
}
menu menuitem check,
menu menuitem check:hover,
menu menuitem check:disabled,
menu menuitem radio,
menu menuitem radio:hover,
menu menuitem radio:disabled {
    background-image: none;
}
check {
    -gtk-icon-source: image(-gtk-recolor(url("../assets/check-mixed.png")), -gtk-recolor(url("../assets/check-mixed.png")));
}
check:checked {
    -gtk-icon-source: image(-gtk-recolor(url("../assets/check.png")), -gtk-recolor(url("../assets/check.png")));
}
check:indeterminate {
    -gtk-icon-source: image(-gtk-recolor(url("../assets/check-mixed.png")), -gtk-recolor(url("../assets/check-mixed.png")));
}
radio {
    border-image: -gtk-gradient(radial, center center, 0, center center, 0.001, to(#448AFF), to(transparent)) 24/24px;
    -gtk-icon-source: image(-gtk-recolor(url("../assets/blank.png")), -gtk-recolor(url("../assets/blank.png")));
}
radio:checked {
    -gtk-icon-source: image(-gtk-recolor(url("../assets/blank.png")), -gtk-recolor(url("../assets/blank.png")));
}
radio:checked:disabled {
    border-image: -gtk-gradient(radial, center center, 0, center center, 0.10417, to(rgba(68, 138, 255, 0.4)), to(transparent)) 24/24px;
}
radio:indeterminate {
    -gtk-icon-source: image(-gtk-recolor(url("../assets/blank.png")), -gtk-recolor(url("../assets/blank.png")));
}
radio:indeterminate:checked {
    -gtk-icon-source: image(-gtk-recolor(url("../assets/blank.png")), -gtk-recolor(url("../assets/blank.png")));
}
menu menuitem check:not(:indeterminate):checked,
menu menuitem radio:not(:indeterminate):checked,
menu menuitem check:indeterminate:checked,
menu menuitem radio:indeterminate:checked {
    animation: none;
}
treeview.view check,
treeview.view radio {
    padding: 0;
}
treeview.view check:checked:hover,
treeview.view check:selected:checked:hover,
treeview.view radio:checked:hover,
treeview.view radio:selected:checked:hover {
    background-image: none;
}
treeview.view check,
treeview.view radio {
    color: rgba(0, 0, 0, 0.6);
}
treeview.view check:hover,
treeview.view check:active,
treeview.view radio:hover,
treeview.view radio:active {
    color: rgba(0, 0, 0, 0.8);
}
treeview.view check:disabled,
treeview.view radio:disabled {
    color: rgba(0, 0, 0, 0.24);
}
treeview.view check:checked,
treeview.view check:indeterminate,
treeview.view radio:checked,
treeview.view radio:indeterminate {
    color: #448AFF;
}
treeview.view check:checked:disabled,
treeview.view check:indeterminate:disabled,
treeview.view radio:checked:disabled,
treeview.view radio:indeterminate:disabled {
    color: rgba(68, 138, 255, 0.4);
}
treeview.view check:selected,
treeview.view radio:selected {
    color: rgba(255, 255, 255, 0.75);
}
treeview.view check:selected:hover,
treeview.view check:selected:active,
treeview.view radio:selected:hover,
treeview.view radio:selected:active {
    color: #FFFFFF;
}
treeview.view check:selected:disabled,
treeview.view radio:selected:disabled {
    color: rgba(255, 255, 255, 0.3);
}
treeview.view check:selected:checked,
treeview.view check:selected:indeterminate,
treeview.view radio:selected:checked,
treeview.view radio:selected:indeterminate {
    color: #448AFF;
}
treeview.view check:selected:checked:disabled,
treeview.view check:selected:indeterminate:disabled,
treeview.view radio:selected:checked:disabled,
treeview.view radio:selected:indeterminate:disabled {
    color: rgba(68, 138, 255, 0.4);
}
treeview.view radio:checked {
    -gtk-icon-source: image(-gtk-recolor(url("../assets/radio-checked.png")), -gtk-recolor(url("assets/radio-checked.png")));
    border-image: none;
}
