/*********
 * entry *
 *********/
entry {
    padding: 6px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;
    background-color: @theme_base_color;
    background-image: none;
    color: @theme_text_color;
}

entry:active,
entry:focus {
    box-shadow: inset 0px 0px @theme_selected_bg_color;
	border-color: @theme_selected_bg_color;
}

entry:selected,
entry:selected:focus,
entry selection {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

entry:disabled {
    background-color: shade(@theme_bg_color, 1.04);
    background-image: none;
    color: mix(@theme_text_color, @theme_base_color, 0.4);
}

entry.progressbar {
    border-width: 0;
    border-radius: 0;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}
