/*********
 * Menus *
 *********/

menubar,
.menubar {
    -GtkWidget-window-dragging: true;
    padding: 2px;
    box-shadow: inset 0 10px rgba(0, 0, 0, 0.1);
    background-color: @theme_tooltip_bg_color;
}
menubar > menuitem,
.menubar > menuitem {
    transition: all 0.1s cubic-bezier(0, 0, 0.2, 1), color 0;
    min-height: 8px;
    padding: 2px 8px;
    color: #fff;
}
menubar > menuitem:hover,
.menubar > menuitem:hover {
    background-color: @theme_selected_bg_color;
    color: #fff;
}
menubar > menuitem:disabled,
.menubar > menuitem:disabled {
    color: rgba(0, 0, 0, 0.24);
}
menu,
.menu {
    margin: 2px 0;
    padding: 2px 0;
    background-color: @theme_tooltip_bg_color;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.csd menu,
.csd .menu {
    border: none;
    border-radius: 2px;
}
menu menuitem,
.menu menuitem {
    min-height: 10px;
    min-width: 40px;
    padding: 4px 4px;
    font: initial;
    text-shadow: none;
}
menu menuitem:hover,
.menu menuitem:hover {
    background-color: @theme_selected_bg_color;
    color: #FFFFFF;
}
menu menuitem:disabled,
.menu menuitem:disabled {
    color: rgba(0, 0, 0, 0.32);
}
menu menuitem arrow,
.menu menuitem arrow {
    min-height: 16px;
    min-width: 16px;
}
menu menuitem arrow:dir(ltr),
.menu menuitem arrow:dir(ltr) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    margin-left: 8px;
}
menu menuitem arrow:dir(rtl),
.menu menuitem arrow:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
    margin-right: 8px;
}
menu > arrow,
.menu > arrow {
    min-height: 16px;
    min-width: 16px;
    padding: 4px;
    border-radius: 0;
    background-color: @tooltip_bg_color;
    color: rgba(0, 0, 0, 0.6);
}
menu > arrow.top,
.menu > arrow.top {
    margin-top: -4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
menu > arrow.bottom,
.menu > arrow.bottom {
    margin-bottom: -4px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
menu > arrow:hover,
.menu > arrow:hover {
    background-image: image(alpha(currentColor, 0.15));
    color: rgba(0, 0, 0, 0.8);
}
menu > arrow:disabled,
.menu > arrow:disabled {
    border-color: transparent;
    background-color: transparent;
    color: transparent;
}
menu separator,
.menu separator {
    margin: 4px 0;
}
menuitem accelerator {
    color: alpha(currentColor, 0.6);
}
menuitem check:dir(ltr),
menuitem radio:dir(ltr) {
    margin-right: -8px;
    margin-left: -16px;
}
menuitem check:dir(rtl),
menuitem radio:dir(rtl) {
    margin-right: -16px;
    margin-left: -8px;
}
.csd.popup {
    border-radius: 2px;
}
