/*******
 * osd *
 *******/

.background.osd {
    border-style: none;
    border-width: 0;
    color: @theme_fg_color;
    background-color: @theme_bg_color;
}

GtkOverlay.osd {
    border-style: none;
    border-width: 0;
    background-color: transparent;
}

.osd.frame {
    border-style: none;
    border-width: 0;
    background-clip: border-box;
    background-origin: border-box;
}

.osd.button,
.osd .button {

}

.osd.button:hover,
.osd.button:hover,
.osd .button:hover {

}

.osd.button:active,
.osd .button:active,
.osd GtkMenuButton.button:active {

}

.osd.button:active:hover,
.osd .button:active:hover,
.osd GtkMenuButton.button:active:hover {

}

.osd.button:disabled,
.osd .button:disabled {

}

.osd.button:active *:disabled,
.osd .button:active *:disabled {

}

.osd.toolbar {
    -GtkToolbar-button-relief: normal;

    padding: 4px;
    border-width: 0;
    border-style: none;
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
    color: @theme_fg_color;
}

.osd.toolbar .button {

}

.osd.toolbar .button:hover {

}

.osd.toolbar .button:active {

}

.osd.toolbar .button:active:hover {

}

.osd.toolbar .button:focus,
.osd.toolbar .button:hover:focus,
.osd.toolbar .button:active:focus,
.osd.toolbar .button:active:hover:focus {

}

.osd.toolbar .button:disabled {

}

.osd.toolbar .button:active *:disabled {

}

.osd.toolbar .button:first-child {

}

.osd.toolbar .button:last-child {

}

.osd.toolbar .button:only-child,
.osd.toolbar GtkToolButton .button,
.osd.toolbar GtkToolButton:only-child .button,
.osd.toolbar GtkToolButton:last-child .button,
.osd.toolbar GtkToolButton:first-child .button {

}

.osd.toolbar .separator {

}

/* used by gnome-settings-daemon's media-keys OSD */
.osd.trough {

}

.osd.progressbar {

}

.osd .scale.slider {

}

.osd .scale.slider:hover {

}

.osd .scale.slider:disabled {

}

.osd .scale.trough {

}

.osd .scale.trough.highlight {

}

.osd .scale.trough:disabled,
.osd .scale.trough.highlight:disabled {

}


.osd GtkProgressBar.trough,
GtkProgressBar.osd.trough {
    padding: 0;
    border-style: none;
    border-radius: 0;
    background-image: none;
    background-color: transparent;
}

.osd GtkProgressBar.progressbar,
GtkProgressBar.osd.progressbar {
    border-style: none;
    border-radius: 0;    
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.osd .view,
.osd.view {

}

.osd .scrollbar.trough {

}

.osd .scrollbar.slider {

}

.osd .scrollbar.slider:hover {

}

.osd .scrollbar.slider:active {

}

.osd GtkIconView.cell:selected,
.osd GtkIconView.cell:selected:focus {

}

/* used by Documents */
.osd .page-thumbnail {


}
