/*****************
 * Progress bars *
 *****************/
progressbar {
  color: @theme_selected_fg_color;
  font-size: smaller; }
  progressbar.horizontal trough,
  progressbar.horizontal progress {
    min-height: 9px; }
  progressbar.vertical trough,
  progressbar.vertical progress {
    min-width: 9px; }
  progressbar trough {
    background-color: shade( @theme_selected_bg_color, 0.3 ); }
  progressbar progress {
    background-color: @theme_selected_bg_color; }

/*************
 * Level Bar *
 *************/
levelbar block {
  min-width: 36px;
  min-height: 4px; }
levelbar.vertical block {
  min-width: 4px;
  min-height: 36px; }
levelbar trough {
  padding: 2px;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0;
  border-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: shade( @theme_bg_color, 0.9 );
  color: rgba(0, 0, 0, 0.8); }
  levelbar trough:disabled {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: shade( @theme_bg_color, 0.7 );
    color: rgba(0, 0, 0, 0.32); }
levelbar.horizontal.discrete block {
  margin: 0 1px; }
levelbar.vertical.discrete block {
  margin: 1px 0; }
levelbar.horizontal.discrete trough {
  padding: 2px 1px; }
levelbar.vertical.discrete trough {
  padding: 1px 2px; }
levelbar block.low {
  background-color: shade( @theme_selected_bg_color, 0.5 ); }
levelbar block.high {
  background-color: shade( @theme_selected_bg_color, 0.8 ); }
levelbar block.full {
  background-color: shade( @theme_selected_bg_color, 1.0 ); }
levelbar block.empty {
  background-color: alpha(@theme_selected_bg_color, 0.3);
  color: rgba(0, 0, 0, 0.32); }


/*scale*/

scale {
  min-height: 12px;
  min-width: 12px;
  padding: 12px; }
  scale * {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0; }
  scale slider {
    min-height: 24px;
    min-width: 24px;
    margin: -10px; }
  scale trough {
    outline-offset: 2px;
    background-color: alpha(@theme_selected_bg_color, 0.3); }
    scale trough:disabled {
      color: rgba(0, 0, 0, 0.32); }
  scale highlight {
    background-color: @theme_selected_bg_color; }
    scale highlight:disabled {
      background-color: transparent; }
  scale fill {
    background-color: alpha(@theme_selected_bg_color, 0.3); }
    scale fill:disabled {
      background-color: transparent; }
  scale slider {
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 8px); }
    scale slider {
      background-image: -gtk-scaled(url("../assets/slider-insensitive-dark.png"), url("../assets/slider-insensitive-dark@2.png")); }
    scale slider:disabled {
      background-image: -gtk-scaled(url("../assets/slider-insensitive.png"), url("../assets/slider-insensitive@2.png")); }
    scale slider:hover {
      background-size: calc(100% - 4px); }
    scale slider:active {
      background-size: calc(100% - 0px); }
  scale.fine-tune slider {
    background-size: calc(100% - 12px); }
  scale value {
    color: alpha(@theme_selected_fg_color, 0.6); }
  scale marks {
    color: alpha(@theme_selected_fg_color, 0.3); }
    scale marks.top {
      margin-bottom: 8px;
      margin-top: -16px; }
    scale marks.bottom {
      margin-top: 8px;
      margin-bottom: -16px; }
    scale marks.top {
      margin-right: 8px;
      margin-left: -16px; }
    scale marks.bottom {
      margin-left: 8px;
      margin-right: -16px; }
  scale.horizontal indicator {
    min-height: 8px;
    min-width: 1px; }
  scale.vertical indicator {
    min-height: 1px;
    min-width: 8px; }
  scale.color.horizontal slider,
  scale.horizontal contents:last-child:not(:only-child) > trough > slider {
    min-height: 30px;
    min-width: 24px;
    margin-top: -16px;
    background-position: center calc(100% - 4px); }
    scale.color.horizontal slider,
    scale.horizontal contents:last-child:not(:only-child) > trough > slider {
      background-image: -gtk-scaled(url("../assets/slider-horz-scale-has-marks-above-insensitive-dark.png"), url("../assets/slider-horz-scale-has-marks-above-insensitive-dark@2.png")); }
    scale.color.horizontal slider:hover,
    scale.horizontal contents:last-child:not(:only-child) > trough > slider:hover {
      background-position: center calc(100% - 2px); }
    scale.color.horizontal slider:active,
    scale.horizontal contents:last-child:not(:only-child) > trough > slider:active {
      background-position: center calc(100% - 0px); }
  scale.color.fine-tune.horizontal slider, scale.horizontal.fine-tune contents:last-child:not(:only-child) > trough > slider {
    background-position: center calc(100% - 6px); }
  scale.color.horizontal slider,
  scale.horizontal contents:last-child:not(:only-child) > trough > slider {
    min-height: 30px;
    min-width: 24px;
    margin-top: -16px;
    background-position: center calc(100% - 4px); }
    scale.color.horizontal slider:disabled,
    scale.horizontal contents:last-child:not(:only-child) > trough > slider:disabled {
      background-image: -gtk-scaled(url("../assets/slider-horz-scale-has-marks-above-insensitive-dark.png"), url("../assets/slider-horz-scale-has-marks-above-insensitive-dark@2.png")); }
    scale.color.horizontal slider:hover,
    scale.horizontal contents:last-child:not(:only-child) > trough > slider:hover {
      background-position: center calc(100% - 2px); }
    scale.color.horizontal slider:active,
    scale.horizontal contents:last-child:not(:only-child) > trough > slider:active {
      background-position: center calc(100% - 0px); }
  scale.color.fine-tune.horizontal slider, scale.horizontal.fine-tune contents:last-child:not(:only-child) > trough > slider {
    background-position: center calc(100% - 6px); }
  scale.horizontal contents:first-child:not(:only-child) > trough > slider {
    min-height: 30px;
    min-width: 24px;
    margin-bottom: -16px;
    background-position: center calc(4px); }
    scale.horizontal contents:first-child:not(:only-child) > trough > slider {
      background-image: -gtk-scaled(url("../assets/slider-horz-scale-has-marks-below-insensitive-dark.png"), url("../assets/slider-horz-scale-has-marks-below-insensitive-dark@2.png")); }
    scale.horizontal contents:first-child:not(:only-child) > trough > slider:hover {
      background-position: center calc(2px); }
    scale.horizontal contents:first-child:not(:only-child) > trough > slider:active {
      background-position: center calc(0px); }
  scale.horizontal.fine-tune contents:first-child:not(:only-child) > trough > slider {
    background-position: center calc(6px); }
  scale.horizontal contents:first-child:not(:only-child) > trough > slider {
    min-height: 30px;
    min-width: 24px;
    margin-bottom: -16px;
    background-position: center calc(4px); }
    scale.horizontal contents:first-child:not(:only-child) > trough > slider:disabled {
      background-image: -gtk-scaled(url("../assets/slider-horz-scale-has-marks-below-insensitive-dark.png"), url("../assets/slider-horz-scale-has-marks-below-insensitive-dark@2.png")); }
    scale.horizontal contents:first-child:not(:only-child) > trough > slider:hover {
      background-position: center calc(2px); }
    scale.horizontal contents:first-child:not(:only-child) > trough > slider:active {
      background-position: center calc(0px); }
  scale.horizontal.fine-tune contents:first-child:not(:only-child) > trough > slider {
    background-position: center calc(6px); }
  scale.color.vertical:dir(rtl) slider,
  scale.vertical contents:last-child:not(:only-child) > trough > slider {
    min-height: 24px;
    min-width: 30px;
    margin-left: -16px;
    background-position: calc(4px) center; }
    scale.color.vertical:dir(rtl) slider,
    scale.vertical contents:last-child:not(:only-child) > trough > slider {
      background-image: -gtk-scaled(url("../assets/slider-vert-scale-has-marks-above-insensitive-dark.png"), url("../assets/slider-vert-scale-has-marks-above-insensitive-dark@2.png")); }
    scale.color.vertical:dir(rtl) slider:hover,
    scale.vertical contents:last-child:not(:only-child) > trough > slider:hover {
      background-position: calc(2px) center; }
    scale.color.vertical:dir(rtl) slider:active,
    scale.vertical contents:last-child:not(:only-child) > trough > slider:active {
      background-position: calc(0px) center; }
  scale.color.fine-tune.vertical:dir(rtl) slider, scale.vertical.fine-tune contents:last-child:not(:only-child) > trough > slider {
    background-position: calc(6px) center; }
  scale.color.vertical:dir(rtl) slider,
  scale.vertical contents:last-child:not(:only-child) > trough > slider {
    min-height: 24px;
    min-width: 30px;
    margin-left: -16px;
    background-position: calc(4px) center; }
    scale.color.vertical:dir(rtl) slider:disabled,
    scale.vertical contents:last-child:not(:only-child) > trough > slider:disabled {
      background-image: -gtk-scaled(url("../assets/slider-vert-scale-has-marks-above-insensitive.png"), url("../assets/slider-vert-scale-has-marks-above-insensitive@2.png")); }
    scale.color.vertical:dir(rtl) slider:hover,
    scale.vertical contents:last-child:not(:only-child) > trough > slider:hover {
      background-position: calc(2px) center; }
    scale.color.vertical:dir(rtl) slider:active,
    scale.vertical contents:last-child:not(:only-child) > trough > slider:active {
      background-position: calc(0px) center; }
  scale.color.fine-tune.vertical:dir(rtl) slider, scale.vertical.fine-tune contents:last-child:not(:only-child) > trough > slider {
    background-position: calc(6px) center; }
  scale.color.vertical:dir(ltr) slider,
  scale.vertical contents:first-child:not(:only-child) > trough > slider {
    min-height: 24px;
    min-width: 30px;
    margin-right: -16px;
    background-position: calc(100% - 4px) center; }
    scale.color.vertical:dir(ltr) slider,
    scale.vertical contents:first-child:not(:only-child) > trough > slider {
      background-image: -gtk-scaled(url("../assets/slider-vert-scale-has-marks-below-insensitive.png"), url("../assets/slider-vert-scale-has-marks-below-insensitive@2.png")); }
    scale.color.vertical:dir(ltr) slider:hover,
    scale.vertical contents:first-child:not(:only-child) > trough > slider:hover {
      background-position: calc(100% - 2px) center; }
    scale.color.vertical:dir(ltr) slider:active,
    scale.vertical contents:first-child:not(:only-child) > trough > slider:active {
      background-position: calc(100% - 0px) center; }
  scale.color.fine-tune.vertical:dir(ltr) slider, scale.vertical.fine-tune contents:first-child:not(:only-child) > trough > slider {
    background-position: calc(100% - 6px) center; }
  scale.color.vertical:dir(ltr) slider,
  scale.vertical contents:first-child:not(:only-child) > trough > slider {
    min-height: 24px;
    min-width: 30px;
    margin-right: -16px;
    background-position: calc(100% - 4px) center; }
    scale.color.vertical:dir(ltr) slider:disabled,
    scale.vertical contents:first-child:not(:only-child) > trough > slider:disabled {
      background-image: -gtk-scaled(url("../assets/slider-vert-scale-has-marks-below-insensitive.png"), url("../assets/slider-vert-scale-has-marks-below-insensitive@2.png")); }
    scale.color.vertical:dir(ltr) slider:hover,
    scale.vertical contents:first-child:not(:only-child) > trough > slider:hover {
      background-position: calc(100% - 2px) center; }
    scale.color.vertical:dir(ltr) slider:active,
    scale.vertical contents:first-child:not(:only-child) > trough > slider:active {
      background-position: calc(100% - 0px) center; }
  scale.color.fine-tune.vertical:dir(ltr) slider, scale.vertical.fine-tune contents:first-child:not(:only-child) > trough > slider {
    background-position: calc(100% - 6px) center; }
  scale.color {
    min-height: 0;
    min-width: 0; }
    scale.color.horizontal {
      padding: 0 0 12px 0; }
      scale.color.horizontal trough {
        padding-bottom: 4px; }
      scale.color.horizontal slider {
        margin-bottom: -14px;
        margin-top: 0; }
    scale.color.vertical:dir(ltr) {
      padding: 0 0 0 12px; }
      scale.color.vertical:dir(ltr) trough {
        padding-left: 4px; }
      scale.color.vertical:dir(ltr) slider {
        margin-left: -14px;
        margin-right: 0; }
    scale.color.vertical:dir(rtl) {
      padding: 0 12px 0 0; }
      scale.color.vertical:dir(rtl) trough {
        padding-right: 4px; }
      scale.color.vertical:dir(rtl) slider {
        margin-right: -14px;
        margin-left: 0; }
