/**************
 * Scrollbars *
 **************/

scrollbar {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0;
    background-color: @tooltip_bg_color;
    background-clip: padding-box;
}
* {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
}
scrollbar.top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
scrollbar.bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
scrollbar.left {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
scrollbar.right {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
scrollbar slider {
    /* transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, margin 0, border-width 0; */
    min-width: 4px;
    min-height: 4px;
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: shade( @theme_selected_bg_color, 0.80);
}
scrollbar slider:hover {
    background-color: shade( @theme_selected_bg_color, 0.80);
}
scrollbar slider:active {
    background-color: @theme_selected_bg_color;
}
scrollbar slider:disabled {
    background-color: shade( @theme_selected_bg_color, 0.80);
}
scrollbar.fine-tune slider {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, margin 0, border-width 0, min-width 0, min-height 0;
    min-width: 4px;
    min-height: 4px;
}
scrollbar.fine-tune.horizontal slider {
    margin: 2px 0;
}
scrollbar.fine-tune.vertical slider {
    margin: 0 2px;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    border-color: transparent;
    background-color: transparent;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
    min-width: 4px;
    min-height: 4px;
    margin: 2px;
    border: 2px solid @tooltip_bg_color;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
    min-width: 4px;
    min-height: 4px;
    margin: 2px;
    border: 2px solid @theme_selected_bg_color;
    border-radius: 100px;
    background-color: @tooltip_bg_color;
    background-clip: padding-box;
    -gtk-icon-source: none;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) button:disabled {
    background-color: @tooltip_bg_color;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
    min-width: 24px;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal button {
    min-width: 4px;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider {
    min-height: 24px;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical button {
    min-height: 8px;
}
scrollbar.overlay-indicator.dragging,
scrollbar.overlay-indicator.hovering {
    background-color: @tooltip_bg_color;
}
scrollbar.horizontal slider {
    min-width: 24px;
}
scrollbar.vertical slider {
    min-height: 24px;
}
scrollbar button {
    min-width: 4px;
    min-height: 16px;
    padding: 0;
    border-radius: 0;
}
scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("pan-right-symbolic");
}
scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("pan-left-symbolic");
}
