/**********
 * Switch *
 **********/

switch {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0;
    margin: 6px 0;
    border: 4px solid transparent;
    border-radius: 100px;
    background-color: alpha(currentColor, 0.3);
    background-clip: padding-box;
    font-size: 0;
}
switch:disabled {
    color: rgba(0, 0, 0, 0.32);
}
switch:checked {
    background-color: @theme_selected_bg_color;
}
switch:checked:disabled {
    background-color: rgba(68, 138, 255, 0.2);
    color: rgba(0, 0, 0, 0.32);
}
switch slider {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0;
    border-image: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: shade( @theme_selected_bg_color, 1.5);
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, margin 0;
    min-width: 24px;
    min-height: 24px;
    margin: -4px 0 -4px -4px;
    -gtk-outline-radius: 100px;
    border-radius: 100px;
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(transparent), to(transparent));
}
switch:hover slider {
    border-image: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}
switch:disabled slider {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #f6f7f8;
    color: rgba(0, 0, 0, 0.32);
}
switch:checked slider {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0, margin 0, background-image 0;
    animation: needs_attention 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
    margin: -4px -4px -4px 0;
    color: #FFFFFF;
}
switch:checked:disabled slider {
    animation: none;
}
