/* NOTES to contributors:
 * use 4 spaces indents, and keep code ALIGNED and ORDERED */

/* default */
* {
    background-clip: padding-box;

    -GtkArrow-arrow-scaling: 0.55;
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 8;
    -GtkTreeView-expander-size: 8;
    -GtkWindow-resize-grip-height: 0;
    -GtkWindow-resize-grip-width: 0;
    -WnckTasklist-fade-overlay-rect: 0;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
    outline-color: transparent;
    outline-style: none;
    outline-offset: 2px;
}

/***************
 * base states *
 ***************/
.background {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.background.client-decorated {
    background-color: transparent;
}

.background.window-content {
    background-color: @theme_bg_color;
}

GtkClutterOffscreen {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

*:selected,
*:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

*:active {
    background-color: shade(@theme_bg_color, 0.95);
}

*:disabled,
*:disabled:disabled {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

/* apply effects to disabled and prelit images */
*:disabled {
    -gtk-icon-effect: dim;
}

*:hover {
    -gtk-icon-effect: highlight;
}

.gtkstyle-fallback {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.gtkstyle-fallback:hover {
    background-color: shade(@theme_bg_color, 1.1);
    color: @theme_fg_color;
}

.gtkstyle-fallback:active {
    background-color: shade(@theme_bg_color, 0.9);
    color: @theme_fg_color;
}

.gtkstyle-fallback:disabled {
    background-color: shade(shade(@theme_bg_color, 0.95), 1.05);
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.gtkstyle-fallback:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/******************
 * visual effects *
 ******************/
/* transitions */
.button {


}

.entry {

}

.entry:focus {

}

/* inset shadows */
.button:active,
.primary-toolbar .button:active,
.toolbar .button:active,
.header-bar .button:active {

}


/* disable inset shadow */
.floating-bar .button:active,
.button:active *:disabled,
.primary-toolbar .button:active *:disabled,
.toolbar .button:active *:disabled,
.header-bar .button:active *:disabled{

}

/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
	background-color: @theme_selected_bg_color;
    font: bold;
}

GtkAssistant .sidebar {
    padding: 0px;
    border-width: 0;
    border-style: none;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

/***********************
! Font and file choosers
************************/
GtkFontButton .separator, GtkFileChooserButton .separator {
	/* always disable separators */
	-GtkWidget-horizontal-separator: 0;
	-GtkWidget-vertical-separator: 0; 
}

placessidebar > viewport.frame {
	border-style: none; 
}

placessidebar row {
	min-height: 2px;
	padding: 0; 
}

placessidebar row > revealer {
	padding: 0 5px; 
}

placessidebar row:selected {
	color: #FFFFFF; 
}

placessidebar row:disabled {
	color: rgba(0, 0, 0, 0.32); 
}

placessidebar row image.sidebar-icon {
	opacity: 0.6; 
}

placessidebar row image.sidebar-icon:dir(ltr) {
	padding-right: 8px; 
}

placessidebar row image.sidebar-icon:dir(rtl) {
	padding-left: 8px; 
}

placessidebar row label.sidebar-label:dir(ltr) {
	padding-right: 2px; 
}

placessidebar row label.sidebar-label:dir(rtl) {
	padding-left: 2px; 
}

button.sidebar-button {
	min-height: 8px;
	min-width: 24px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border-radius: 0%;
	-gtk-outline-radius: 0%; 
}

placessidebar row.sidebar-placeholder-row {
	min-height: 2px;
	padding: 0 2px;
	background-image: image(#448AFF);
	background-clip: content-box; 
}

placessidebar row.sidebar-new-bookmark-row {
	color: #448AFF; 
}

placessidebar row:drop(active):not(:disabled) {
	box-shadow: inset 0 0 0 2px #448AFF; 
}


/****************
 * content view *
 ****************/
.content-view.view {
    background-color: @theme_base_color;
}

.content-view.view:hover {
    background-color: alpha(@theme_selected_bg_color, 0.3);
}

.content-view.view:selected,
.content-view.view:active {
    background-color: @theme_selected_bg_color;
}

.content-view.view:disabled {
    background-color: @entry_border_color;
}

GdMainIconView.content-view {
    -GdMainIconView-icon-size: 40;
}

GtkIconView.content-view.check {
    background-color: transparent;
}

GtkIconView.content-view.check:active {
    background-color: transparent;
}

.content-view.view.check,
.content-view.view.check:active {
    background-color: transparent;
}

GtkIconView.content-view.check:hover,
GtkIconView.content-view.check:disabled,
GtkIconView.content-view.check:selected {
    background-color: transparent;
}

/****************
 * drawing area *
 ****************/
GtkDrawingArea {
    background-color: transparent;
}

GtkDrawingArea:disabled {
    background-color: @entry_border_color;
}

/***********
 * gtkhtml *
 ***********/
GtkHTML {
    background-color: @theme_base_color;
    color: @theme_text_color;
}





/************
 * expander *
 ************/
.expander {
    color: alpha(@theme_fg_color, 0.7);
}

.expander:hover {
    color: alpha(@theme_fg_color, 0.9);
}

/*********
 * frame *
 *********/

.frame {
    border-radius: 0;
    border-width:  0;
    border-style: none;
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
    border-radius: 0;
    border-width:  0;
    border-style: none;
}

/* avoid double borders when a viewport is 
 * packed into a GtkScrolledWindow */
GtkScrolledWindow GtkViewport.frame {
    border-style: none;
}


/************
 * iconview *
 ************/
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    border-width: 3px;
    border-style: solid;
    border-color: @theme_selected_bg_color;
    border-radius: 0;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

.content-view.view.rubberband,
.view.rubberband,
.rubberband {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    border-radius: 0;
    background-color: alpha(@theme_selected_bg_color, 0.3);
}

/*********
 * image *
 *********/
GtkImage,
GtkImage:active,
GtkImage:disabled {
    background-color: transparent;
}

/*********
 * label *
 *********/
GtkLabel,
GtkLabel:active,
GtkLabel:disabled {
    background-color: transparent;
}

/*******************
 * symbolic images *
 *******************/
.image,
.view.image {
    color: alpha(@theme_fg_color, 0.5);
}

.image:hover,
.view.image:hover {
    color: @theme_fg_color;
}

.image:selected,
.image:selected:hover,
.view.image:selected,
.view.image:selected:hover {
    color: @theme_selected_fg_color;
}

/*****************
 * miscellaneous *
 *****************/
.floating-bar {
    border-width: 3px;
    border-style: none;
    border-radius: 0px;
    background-color: @theme_bg_color;
    background-image: none;
    color: @theme_fg_color;
}

.floating-bar.top {

}

.floating-bar.right {

}

.floating-bar.bottom {

}

.floating-bar.left {
 
}


.floating-bar .button,
.floating-bar .button:focus {
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.view.dim-label,
.dim-label {
    color: alpha(currentColor, 0.6);
}

.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
}

.grip {
    background-color: transparent;
}

.arrow {
    color: alpha(@theme_fg_color, 0.7);
}
.arrow:disabled {
    color: alpha(@theme_fg_color, 0.4);
}



/******************
 * pane separator *
 ******************/
.pane-separator {
    background-color: transparent;
    color: transparent;
}


/*************
 * statusbar *
 *************/
GtkStatusbar {
    padding: 4px;
    color: @theme_fg_color;
}


/************
 * textview *
 ************/
GtkTextView {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

/************
 * Tooltips *
 ************/
tooltip {
  border-radius: 2px;
  box-shadow: none; }
  tooltip.background {
    background-color: #202020; }
  tooltip decoration {
    background-color: transparent; }
  tooltip label {
    min-height: 20px;
    padding: 4px 6px; }
  tooltip * {
    padding: 0;
    background-color: transparent;
    color: inherit; }


/************
 * treeview *
 ************/
GtkTreeView {
    -GtkTreeView-vertical-separator: 0;
}

GtkTreeView.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    border-radius: 0;
}

GtkTreeView .entry {
    background-color: @theme_bg_color;
    background-image: none;
}

/************
 * viewport *
 ************/
GtkViewport.frame {
    border-width: 0;
}

.view {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.view:disabled,
.view:disabled:disabled {
    background-color: shade(@theme_bg_color, 1.04);
    background-image: none;
    color: mix(@theme_text_color, @theme_base_color, 0.4);
}

.view:selected,
.view:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/*********************
 * app notifications *
 *********************/
.app-notification {
    border-style: none;
    border-width: 0 1px 1px 1px;
    border-radius: 0;
    padding: 8px;
    background-color: @theme_base_color;
    background-image: none;
    color: @theme_text_color;
}


/******************************
 * destructive action buttons *
 ******************************/
.destructive-action.button {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;
    background-color: @error_color;
    background-image: none;
    color: mix(@theme_selected_fg_color, @error_color, 0.1);
}

.destructive-action.button:hover {
    border-color: transparent;
    background-color: shade(@error_color, 1.12);
    background-image: none;
}

.destructive-action.button:active {
    border-color: transparent;
    background-color: shade(@error_color, 0.87);
    background-image: none;
}

.destructive-action.button:hover:active {
    border-color: transparent;
}

/**************
 * List boxes *
 **************/
EggListBox {
    background-color: @theme_base_color;
}

EggListBox:hover {
    background-color: mix(white, @theme_selected_bg_color, 0.05) ;
}

EggListBox:selected {
    background-color: @theme_selected_bg_color;
}

.list {
    background-color: @theme_base_color;
}

.list-row:hover {
    background-color: mix(white, @theme_selected_bg_color, 0.05) ;
}

.list-row:selected {
    background-color: @theme_selected_bg_color;
}

/*************************
 * touch text selections *
 *************************/
GtkBubbleWindow {
    border-radius: 0;
    background-clip: border-box;
}

GtkBubbleWindow.osd.background {
    background-color: @theme_fg_color;
}

GtkBubbleWindow .toolbar {
    background-color: transparent;
}

