
/**********
 * button *
 **********/
.button {
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0px;
    background-color: shade( @theme_bg_color, 1.58 );
    background-image: none;
    color: @theme_text_color;
}

.button:hover {
	background-color: shade( @theme_bg_color, 1.35 );
    color: @theme_fg_color;
}

.button:active,
.button:active:hover {
    color: @theme_fg_color;
    background-color: shade(@theme_selected_bg_color, 0.93);
}
.button:active:hover {
    color: shade(@theme_fg_color, 0.6);
    color: @theme_fg_color;
}

.button:insensitive {
    background-color: shade(@theme_bg_color, 1.04);
    background-image: none;
    color: mix(@theme_text_color, @theme_base_color, 0.4);
}
.button *:insensitive {
    color: mix(@theme_text_color, @theme_base_color, 0.4);
}

.button:active:insensitive {

}

/* default button */
.button.default,
.button.default:focus {
    border-color: transparent;
    background-color: @theme_selected_bg_color;
    color: @theme_fg_color;
}

.button.default:hover {
    border-color: transparent;
    background-color: shade(@theme_selected_bg_color, 1.05);
}

.button.default:active,
.button.default:hover:active {
    border-color: transparent;
    background-color: mix(@button_default_active_color, white, 0.083);
    color: shade(@theme_selected_fg_color, 0.95);
}

.button.default *:insensitive {
    color: shade(@entry_border_color, 0.9);
}
GtkLinkButton.button,
GtkLinkButton.button:focus,
GtkLinkButton.button:hover,
GtkLinkButton.button:active,
GtkLinkButton.button:focus:active,
GtkLinkButton.button:focus:hover {

}
