/************
 * combobox * 
 ************/
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry:active,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focus,
GtkComboBox.combobox-entry .entry:insensitive {
    border-width: 1px 0 1px 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
    border-width: 1px 1px 1px 1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

GtkComboBox .button,
.action-bar GtkComboBox .button {
    padding: 4px 10px;
    background-color: shade(@theme_bg_color, 1.55);
    color: shade(@theme_text_color, 1.10);
}

GtkComboBox .button:hover,
GtkComboBox .button:active,
GtkComboBox .button:checked,
GtkComboBox .button:active:hover,
.action-bar GtkComboBox .button:hover,
.action-bar GtkComboBox .button:active,
.action-bar GtkComboBox .button:checked,
.action-bar GtkComboBox .button:active:hover  {
    background-color: shade(@theme_selected_bg_color, 1);
    color: shade(@theme_text_color, 1); 
}
