/************
 * notebook *
 ************/
.notebook {
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_base_color, 0.7);
    border-radius: 0;
    background-color: @theme_base_color;
    background-image: none;
    background-clip: border-box;

    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-has-tab-gap: false;
}

.notebook.frame {
    border-width: 1px;
}

.notebook.header {
    background-color: shade(@theme_base_color, 0.97);
    border-width: 0;
}

.notebook.header.frame {
    border-color: shade(@theme_base_color, 0.75);
}

.notebook.header.frame.top {
    border-width: 1px 1px 0 1px;
}

.notebook.header.frame.right {
    border-width: 1px 1px 1px 0;
}

.notebook.header.frame.bottom {
    border-width: 0 1px 1px 1px;
}

.notebook.header.frame.left {
    border-width: 1px 0 1px 1px;
}

.notebook GtkViewport {
    border-width: 0;
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.notebook tab {
    padding: 8px;
    background-color: shade(@theme_base_color, 0.97);
    background-image: none;
    color: @theme_fg_color;
}

.notebook tab:hover {
    transition: ease-in 300ms;
    background-image: none;
}

.notebook tab:active {
    transition: 300ms ease-in;
    background-color: shade(@theme_base_color, 0.99);
    background-image: none;
}

.notebook tab:active:hover {
    transition: 300ms ease-in;
    background-color: shade(@theme_base_color, 0.97);
    background-image: none;
}

.notebook tab.top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    border-top: 1px solid shade(@theme_base_color, 0.7);
}

.notebook tab:first-child.top {
    border-left: 1px solid shade (@theme_base_color, 0.7);    
}

.notebook tab.top:active {
    box-shadow: inset 0 -2px shade (@theme_selected_fg_color, 1.4),
                inset 1px 0 shade(@theme_base_color, 0.87),
                inset -1px 0 shade(@theme_base_color, 0.87);
	/*background-position: center bottom;
	background-repeat: no-repeat;
    background-image: url("arrowblue.png");*/
}

.notebook tab:first-child.top:active {
    box-shadow: inset 0 -2px shade (@theme_selected_fg_color, 1.4),
                inset -1px 0 shade(@theme_base_color, 0.87);
	/*background-position: center bottom;
	background-repeat: no-repeat;
    background-image: url("arrowblue.png");*/
}

.notebook tab.right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: none;
    border-right: 1px solid shade(@theme_base_color, 0.7);
}

.notebook tab.right:active {
    box-shadow:inset 2px 0 @theme_selected_fg_color;
}

.notebook tab.bottom {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: none;
    border-bottom: 1px solid shade(@theme_base_color, 0.7);
}

.notebook tab.bottom:active {   
    box-shadow:inset 0 2px @theme_selected_fg_color;
}

.notebook tab.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-left: 1px solid shade(@theme_base_color, 0.7);
}

.notebook tab.left:active {
    box-shadow:inset -2px 0 @theme_selected_fg_color;
}

.notebook tab GtkLabel {
    color: mix(@theme_text_color, @theme_base_color, 0.3);
}

.notebook .active-page,
.notebook tab .active-page GtkLabel {
    color: @theme_selected_fg_color;
}

/* close button styling */
.notebook tab .button {
    transition: ease-in 150ms;
    padding: 1px;
    border: none;
    background-image: none;
    background-color: transparent;
    color: mix(@theme_text_color, @theme_base_color, 0.5);
}

.notebook tab .button:hover {
    color: shade(@error_color, 1.15);
}

.notebook tab .button:active,
.notebook tab .button:active:hover {
    border: none;
    color: shade(@error_color, 0.95);
    background-color: transparent;
    box-shadow: none;
}

.notebook tab GtkLabel,
.notebook .prelight-page,
.notebook .prelight-page GtkLabel,
.notebook .active-page,
.notebook .active-page GtkLabel,
.notebook .active-page:hover {
    transition: all 150ms ease-in;
}

.notebook .prelight-page,
.notebook .prelight-page GtkLabel {
    color: @theme_selected_fg_color;
}

.notebook tab .button:active:hover {
    border: none;
    color: shade(@error_color, 0.95);
    background-color: transparent;
    box-shadow: none;
}

.notebook tab GtkLabel,
.notebook .prelight-page,
.notebook .prelight-page GtkLabel,
.notebook .active-page,
.notebook .active-page GtkLabel,
.notebook .active-page:hover {
    transition: all 150ms ease-in;
}

.notebook .prelight-page,
.notebook .prelight-page GtkLabel {
    color: @theme_selected_fg_color;
}

