/*************
 * scrollbar *
 *************/
.scrollbar {
    border-width: 0;
    border-style: none;
    padding: 0;
}

.scrollbars-junction,
.scrollbar.trough {
    border-width: 0;
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:active:hover {

    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    color: shade(@theme_bg_color, 0.6);
}

.scrollbar.slider {
    border-width: 0;
    border-radius: 0;
    background-color: shade(@button_normal_color, 1.1);
}

.scrollbar.slider:hover,
.scrollbar.slider.vertical:hover {
    background-color: @button_normal_color;
}

.scrollbar.slider:active,
.scrollbar.slider.vertical:active {
    background-color: @theme_selected_bg_color;
}
.scrollbar.trough,
.scrollbar.trough.vertical {
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
}
.scrollbar.slider.fine-tune:prelight:active {
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
}

/* overlay scrollbar */
OsThumb {
    color: shade(@theme_bg_color, 0.6);
}

OsThumb:selected,
OsScrollbar:selected {
    background-color: @theme_selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
    background-color: @theme_selected_bg_color;
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: shade(@theme_bg_color, 0.9);
}
