/*************
 * separator *
 *************/
.sidebar.view.separator,
.view.separator,
.separator {
    border-width: 0;
    border-style: none;
    color: transparent;
}
.separator:insensitive {
     color: transparent;
}
.button .separator,
.button.separator {
    border-width: 0;
    color: transparent;
}

.button .separator:insensitive,
.button.separator:insensitive {
    color: transparent;
    border-width: 0;
}
